[Unit]
Description=go health check server status file @%i.html
Documentation=https://github.com/yuokada/gohcs

[Service]
ExecStart=/bin/bash -c "/usr/bin/echo OK > /var/run/gohcs/%i.html"
ExecStop=/bin/bash  -c "/usr/bin/rm -f /var/run/gohcs/%i.html"
Type=oneshot
RemainAfterExit=yes
User=root
Group=root

[Install]
WantedBy = multi-user.target
