[Unit]
Description=go health check server
Documentation=https://github.com/yuokada/gohcs

[Service]
ExecStart=/usr/local/bin/gohcs -checklist /etc/gohcs/checklist.json \
          -docroot /var/run/gohcs
Type=simple
Restart=always
RestartSec=30s
User=nobody
Group=nobody
# ExecReload=/bin/kill -HUP $MAINPID
# StandardOutput=null
# StandardError=null

[Install]
WantedBy = multi-user.target
